<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<PublishProtocol>MsixPackage</PublishProtocol>
		<!--Do not put this in, otherwise visual studio loses the information that this is a Win.UI project and you lose a reference to Microsoft.UI.Xaml.-->
		<!--<TargetFramework>net9.0</TargetFramework>-->
		<!--This allows Visual Studio to recognise your project as a Win.UI project and keep a reference to Microsoft.UI.Xaml.
		     It also needs to be here. You cannot rely on the definition in .csproj. The msix packaging needs it here. -->
		<TargetFramework>net9.0-windows10.0.19041.0</TargetFramework>
		<!-- Platform is needed for MSIX (x86, x64, ARM64) -->
		<Platform>x64</Platform>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<SelfContained>true</SelfContained>
		<!--PublishSingleFile has to be false, because we have specified PublisProtocol as MsixPackage-->
		<PublishSingleFile>false</PublishSingleFile>
		<PublishTrimmed>false</PublishTrimmed>
		<OutputPath>bin\publish</OutputPath>
	</PropertyGroup>
</Project>
